In [513]:
%matplotlib inline
import seaborn as sns
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt


df = pd.read_csv('df_concatenated_station_v3.csv') #import later
def get_top_50(grp):
    return grp.sort_values("IMPRESSIONS", ascending = False).head(50)

In [7]:
top50 = df.groupby('DAY')[["IMPRESSIONS", "STATION"]].apply(get_top_50).reset_index()

In [8]:
total_traffic = top50.groupby(['DAY'])['IMPRESSIONS'].sum().reset_index()

In [9]:
top50 = top50.merge(total_traffic, on = 'DAY', suffixes = ['_station', '_total'])

In [10]:
top50['density_score'] = top50['IMPRESSIONS_station'] / top50['IMPRESSIONS_total']

In [11]:
top50['slots'] = top50['density_score'].map(lambda val: round(val * 150))

In [12]:
total_slots = top50.groupby(['DAY'])[['density_score', 'slots']].sum().reset_index()

In [18]:
top50.groupby('DAY')['slots'].sum()

DAY
10    153
11    153
12    147
13    150
14    150
15    149
16    150
Name: slots, dtype: float64

In [518]:
top50[top50.DAY==12]

,DAY,level_1,IMPRESSIONS_station,STATION,IMPRESSIONS_total,density_score,slots
100,12,429,308789,34 ST-PENN STA,5059993,0.061026,9
101,12,1612,277455,GRD CNTRL-42 ST,5059993,0.054833,8
102,12,415,215529,34 ST-HERALD SQ,5059993,0.042595,6
103,12,324,209552,23 ST,5059993,0.041413,6
104,12,100,186565,14 ST-UNION SQ,5059993,0.036871,6
105,12,2437,182168,TIMES SQ-42 ST,5059993,0.036002,5
106,12,765,181054,86 ST,5059993,0.035781,5
107,12,1563,177910,FULTON ST,5059993,0.035160,5
108,12,478,157937,42 ST-PORT AUTH,5059993,0.031213,5
109,12,597,137307,59 ST,5059993,0.027136,4
110,12,65,131935,125 ST,5059993,0.026074,4
111,12,604,128856,59 ST COLUMBUS,5059993,0.025466,4
112,12,1241,124626,CHAMBERS ST,5059993,0.024630,4
113,12,1192,122523,CANAL ST,5059993,0.024214,4
114,12,793,120779,96 ST,5059993,0.023869,4
115,12,506,117846,47-50 STS ROCK,5059993,0.023290,3
116,12,93,107255,14 ST,5059993,0.021197,3
117,12,1500,105922,FLUSHING-MAIN,5059993,0.020933,3
118,12,366,96002,28 ST,5059993,0.018973,3
119,12,681,93246,72 ST,5059993,0.018428,3
120,12,2528,91326,WALL ST,5059993,0.018049,3
121,12,1871,82737,LEXINGTON AV/53,5059993,0.016351,2
122,12,471,82717,42 ST-BRYANT PK,5059993,0.016347,2
123,12,1780,82105,JKSN HT-ROOSVLT,5059993,0.016226,2
124,12,548,80273,50 ST,5059993,0.015864,3
125,12,2507,79066,W 4 ST-WASH SQ,5059993,0.015626,2
126,12,856,73951,ATL AV-BARCLAY,5059993,0.014615,2
127,12,1745,72145,JAMAICA CENTER,5059993,0.014258,2
128,12,709,72138,77 ST,5059993,0.014257,2
129,12,1759,72103,JAY ST-METROTEC,5059993,0.014250,2
130,12,667,68204,7 AV,5059993,0.013479,2
131,12,107,66873,145 ST,5059993,0.013216,2
132,12,1073,65046,BOROUGH HALL,5059993,0.012855,2
133,12,723,64841,8 AV,5059993,0.012814,3
134,12,1094,61819,BOWLING GREEN,5059993,0.012217,2
135,12,653,60223,68ST-HUNTER CO,5059993,0.011902,3
136,12,1262,59297,CHURCH AV,5059993,0.011719,2
137,12,1808,54055,KEW GARDENS,5059993,0.010683,2
138,12,1024,53494,BEDFORD AV,5059993,0.010572,2
139,12,401,53493,33 ST,5059993,0.010572,2
140,12,1591,52305,GRAND ST,5059993,0.010337,2
141,12,9,51201,103 ST,5059993,0.010119,2
142,12,44,50360,116 ST,5059993,0.009953,1
143,12,1815,49574,KINGS HWY,5059993,0.009797,1
144,12,926,49383,B'WAY-LAFAYETTE,5059993,0.009759,1
145,12,527,48976,5 AV/53 ST,5059993,0.009679,1
146,12,513,46101,49 ST,5059993,0.009111,1
147,12,590,44958,57 ST-7 AV,5059993,0.008885,1
148,12,149,43995,161/YANKEE STAD,5059993,0.008695,1
149,12,1353,43978,CROWN HTS-UTICA,5059993,0.008691,1

In [53]:
top50.slots.loc[134]=2
top50.slots.loc[133]=3
top50.slots.loc[135]=3
top50.slots.loc[285]=3
top50.slots.loc[35]=1
top50.slots.loc[36]=1
top50.slots.loc[37]=1
top50.slots.loc[80]=1
top50.slots.loc[81]=1
top50.slots.loc[82]=1

/Users/kylemix/anaconda/lib/python3.5/site-packages/pandas/core/indexing.py:117: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)

In [220]:
def duplicate_rows(df, countcol):
    for _, row in df.iterrows():
        for i in range(int(row[countcol])-1):
            # Append this row at the end of the DataFrame
            df = pd.concat(row)
        return df

In [223]:
tester = top50[['STATION','slots']][top50.DAY==12].copy(deep=True)
# tester.set_index('STATION', inplace = True)
duplicate_rows(tester,1)

TypeError: first argument must be an iterable of pandas objects, you passed an object of type "Series"

In [517]:
performers = pd.read_csv('performer_dataset.csv')
performers.head()
performers = performers.sort_values(by='Performance_code')

In [289]:
from collections import defaultdict
def firstRound(day):
    filt = top50[['STATION','slots']][top50.DAY==day]
#     filt.set_index(['STATION','slots'])
    d= {k:v for k,v in zip(filt.STATION, filt.slots)}
    samplelist = [np.random.choice(performers.Performer_ID, replace=False) for p in performers.Performer_ID]
    newDict = defaultdict(list)
    for k,v in d.items():
        v=int(v)
        newValue = samplelist[:v]
        newDict[k]=newValue
        del samplelist[:v]
    return newDict

In [468]:
def make_frame(day):
    
    f = pd.DataFrame.from_dict(firstRound(day), orient = 'index').stack()
    frame =pd.DataFrame(f)
    frame.reset_index(1,drop=2,inplace=True)
    merger = top50[['STATION','IMPRESSIONS_station']][top50.DAY==day].copy(deep=True)
    merger.set_index('STATION', inplace=True)
    frame = frame.merge(merger,left_index=True,right_index=True)
    frame.reset_index(drop=True,inplace=True)
    frame.columns = ['Performer_ID','IMPRESSIONS_station']
 
    return frame

In [516]:
def run_1Week():
    df10 = make_frame(10)
    df11 = make_frame(11)
    df12 = make_frame(12)
    df13 = make_frame(13)
    df14 = make_frame(14)
    df15 = make_frame(15)
    df16 = make_frame(16)
    allTogether = pd.concat([df11,df12,df13,df14,df15,df16],axis =0)
    allTogether = allTogether.groupby('Performer_ID')['IMPRESSIONS_station'].sum().reset_index()
#     allTogether.set_index('Performer_ID',inplace = True)
    return allTogether

def run_1Month():                            
    week1 = run_1Week()
    week2 = run_1Week()
    week3 = run_1Week()
    week4 = run_1Week()
    month = week1.add(week2,axis='index').add(week3,axis='index').add(week4,axis='index')
    return month
month = run_1Month()