In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [106]:
performers = pd.read_csv('df_concatenated_station_v3.csv')
performers.head()

  STATION  DAY  Entered  Exited  IMPRESSIONS
0    1 AV   10    14615   14763        29378
1    1 AV   11    15778   16543        32321
2    1 AV   12    19249   19796        39045
3    1 AV   13    22949   22817        45766
4    1 AV   14    23671   24395        48066

In [108]:
data = pd.read_csv('df_concatenated_station_v3.csv')
data.head(20)

          STATION  DAY  Entered  Exited  IMPRESSIONS
0            1 AV   10    14615   14763        29378
1            1 AV   11    15778   16543        32321
2            1 AV   12    19249   19796        39045
3            1 AV   13    22949   22817        45766
4            1 AV   14    23671   24395        48066
5            1 AV   15    24269   23968        48237
6            1 AV   16    24650   24715        49365
7          103 ST   10    13085   10455        23540
8          103 ST   11    12265   11609        23874
9          103 ST   12    30459   20742        51201
10         103 ST   13    34859   23699        58558
11         103 ST   14    35493   23901        59394
12         103 ST   15    35660   24292        59952
13         103 ST   16    35151   23351        58502
14  103 ST-CORONA   10    14171    9660        23831
15  103 ST-CORONA   11    12358   10868        23226
16  103 ST-CORONA   12    19939   13567        33506
17  103 ST-CORONA   13    21658   15156        36814
18  103 ST-CORONA   14    21413   15638        37051
19  103 ST-CORONA   15    21733   15448        37181

In [ ]:
def Add_Impressions(df, x)
    for df.Performer_id in df:
        df.Impressions_count += Allocate_Performers(x)

In [129]:
totalImpressions = data.groupby(['DAY']).sum().reset_index()
impByDay = data.groupby(['STATION','DAY'])['IMPRESSIONS'].sum().reset_index()
# impByDay
ten = data[(data['DAY']== 10)]
eleven = data[(data['DAY']== 11)]
twelve =  data[(data['DAY']== 12)]
thirteen =  data[(data['DAY']== 13)]
fourteen =  data[(data['DAY']== 14)]
fifteen =  data[(data['DAY']== 15)]
sixteen =  data[(data['DAY']== 16)]

totImp = data.groupby(['DAY',]).sum().reset_index()

# totImp
divisor = totImp.IMPRESSIONS

df10 = ten.nlargest(50, 'IMPRESSIONS')
df11 = eleven.nlargest(50, 'IMPRESSIONS')
df12 = twelve.nlargest(50, 'IMPRESSIONS')
df13 = thirteen.nlargest(50, 'IMPRESSIONS')
df14 =  fourteen.nlargest(50, 'IMPRESSIONS')
df15 = fifteen.nlargest(50, 'IMPRESSIONS')
df16 = sixteen.nlargest(50, 'IMPRESSIONS')

# 
df10['rankScore'] = df10.IMPRESSIONS.apply(lambda x: x/divisor[0]*2)
df11['rankScore'] = df11.IMPRESSIONS.apply(lambda x: x/divisor[1]*2)
df12['rankScore'] = df12.IMPRESSIONS.apply(lambda x: x/divisor[2]*2)
df13['rankScore'] = df13.IMPRESSIONS.apply(lambda x: x/divisor[3]*2)
df14['rankScore'] = df14.IMPRESSIONS.apply(lambda x: x/divisor[4]*2)
df15['rankScore'] = df15.IMPRESSIONS.apply(lambda x: x/divisor[5]*2)
df16['rankScore'] = df16.IMPRESSIONS.apply(lambda x: x/divisor[6]*2)
# df10['slots'] = df10.rankScore * 150

df1.rankScore.sum()

# df3 = pd.merge(df10,df11,df12,df13,df14,df15,df16)
# df3
# impByDay
# top50.nlargest(50, 'IMPRESSIONS' )

0.5111254467678933